
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

Header set Content-Security-Policy "default-src 'self'; script-src 'self' https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; img-src *; font-src 'self' https://fonts.gstatic.com/ https://cdn.jsdelivr.net/;"
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php [L,QSA]

<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<Files "index.php">
    Order Allow,Deny
    Allow from all
</Files>




